
.form__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px;
}

.button__save{
  margin-bottom: 10px;
  background-color: $colorHeader;
}

.button__cancel {
    background-color: white;
}

.button {
  width: 80px;
  height: 30px;
  color: black;
  border: black solid 2px;
  border-radius: 5px;
}
