.icon {
  width: 40px; }

.main {
  background-color: #565454;
  display: flex;
  justify-content: center;
  align-items: center; }

.main__box {
  width: 50%;
  height: 50vh;
  border: white solid 3px;
  border-radius: 10px;
  padding: 30px;
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center; }

.form__date {
  margin: 20px; }

.icons__box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

.form__textarea {
  margin-top: 20px; }

.calendar {
  display: flex;
  justify-content: center;
  align-items: center; }

.calendar__clic {
  width: 180px;
  height: 40px;
  background-color: #4ff9b8;
  display: flex;
  justify-content: center;
  text-decoration: none; }

.button-plus {
  color: black;
  font-size: 30px;
  font-weight: bold; }

.calendar__faces {
  height: 80%;
  width: 100%;
  border: white solid 1px; }

.form__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px; }

.button__save {
  margin-bottom: 10px;
  background-color: #4ff9b8; }

.button__cancel {
  background-color: white; }

.button {
  width: 80px;
  height: 30px;
  color: black;
  border: black solid 2px;
  border-radius: 5px; }

.header {
  width: 100%;
  height: 150px;
  background-color: #4ff9b8;
  color: black;
  text-align: center;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center; }
